.menu-top{
  background-color: red;
  padding:15px;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-name {
  width: 200px;
}

* {
  box-sizing: border-box;
}

.search-field {
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: none;
  border-radius: 10px;
}

.area-search{
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 2%;
}

body {
  width: 100%;
  font-family: Niramit, sans-serif;
  font-size: 1.2rem;
  background-image: url(https://images4.alphacoders.com/574/thumb-1920-574726.jpg);
  background-size: 100%;
  background-attachment: fixed;
  margin: 0px;
}

.button-search, .button-filter{
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 240, 2);
  color: rgb(17, 3, 92);
  cursor: pointer;
  outline: none;
  padding: 5px 15px;
}

.button-search:hover, .button-filter:hover {
  background-color: rgb(194, 240, 109);
}

.pokemons{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pkm-item{
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 15px;
  width: 25%;
  margin: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pkm-img{
  width: 70%;
}

.pkm-name{
  text-align: center;
  margin: auto;
  font-size: 1rem;
  width: 70%;
  padding: 15px;
  font-size: 18px;
}

.pkm-num{
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 15px;
  margin-top: 0;
}