/*-------------NAV-------------------*/
.menu-top{
  background-color: red;
  padding:15px;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*formatação menu*/
.menu ul li a{
  padding: 2px 10px;
  display: inline-block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border-bottom: none;
}

/*formatação icone nome pokemon*/
.logo-name {
  width: 200px;
}

/*--------formatação geral do BODY--------*/
body {
  width: 100%;
  font-family: Niramit, sans-serif;
  font-size: 1.2rem;
  background-image: url(https://images4.alphacoders.com/574/thumb-1920-574726.jpg);
  background-size: 100%;
  background-attachment: fixed;
  margin: 0px;
}

/*----------FORMATAÇÃO BOTÕES------------*/
.button-search {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 240, 2);
  color: rgb(17, 3, 92);
  cursor: pointer;
  outline: none;
  padding: 5px 15px;
}
  
.button-search:hover {
  background-color: rgb(194, 240, 109);
}

.button-search:disabled {
  background-color: #6a9ebe;
  cursor: no-drop;
  color: #f2f2f2;
}
/*---------------------------------------*/



/*-------FORMATAÇÃO DOS POKEMONS---------*/
.pokemons{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*formatação CARD dos pokemons*/
.pkm-item {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 15px;
  width: 25%;
  margin: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*formatação imagem dos pokemons*/
.pkm-img {
  width: 70%;
}

/*formatação nomes dos pokemons*/
.pkm-name {
  text-align: center;
  margin: auto;
  font-size: 1rem;
  width: 70%;
  padding: 15px;
}

/*formatação numeros dos pokemons*/
.pkm-num {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 15px;
  margin-top: 0;
}
/*---------------------------------------*/



/*---------------SEARCH------------------*/
* {
  box-sizing: border-box;
}

#myInput {
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: none;
  border-radius: 5px;
}

.types {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*---------------------------------------*/




/*FORMATAÇÃO DOS CAMPOS DE BUSCA*/

.area-search{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.stylesearch{
  width: 300px;
}

#myInput li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myInput li a:hover:not(.header) {
  background-color: #eee;
}
/*---------------------------------------*/